{{ define "main" }}
<section class="resume-section p-3 p-lg-5">
  <div class="container">
     <div class="row">
       <div class="form-group">
          <label class="text-primary" for="search">Enter search query:</label>
          <form action="{{ "search" | absURL }}">
            <input type="text" class="form-control border-primary" id="search-query" name="s" placeholder="search query"/>
          </form>
          <small class="form-text text-muted">You can search title, subtitle, author, description, publisher and category</small>
       </div>
      </div>
      <div class="row">
       <div id="search-results">
         <h2 class="text-primary">Matching Books</h3>
         <hr class="border-primary">
       </div>
     </div>
  </div>
</section>
<!-- this template is sucked in by search.js and appended to the search-results div above. So editing here will adjust style -->
<script id="search-result-template" type="text/x-js-template">
    <div id="summary-${key}">
      <h4><a href="${link}">${title}</a></h4>
      <p>${snippet}</p>
    </div>
</script>
{{ end }}