{{ define "main" }}

<section class="section pt-4">
  <div class="container">
    <div class="row justify-content-centre">
      <div class="col-lg-10 mx-auto">
        <article class="mb-10 text-primary">
          <h2 class="display-4">{{ .Title }}</h2>
          <h4 class="text-secondary">{{ .Params.subtitle }}</h3>
          <ul class="list-inline mb-4">
            <li class="list-inline-item"><i class="bi-pencil mr-2"></i> {{ .Params.Author }}</li>
            <li class="list-inline-item"><i class="bi-calendar mr-2"></i> {{ .Params.PublishYear }}</li>
            <li class="list-inline-item"><i class="bi-files mr-2"></i> {{ .Params.pageCount }} pages</li>
            {{ if .Params.price  }}
              <li class="list-inline-item">
                <i class="bi-wallet mr-2"></i> {{ site.Params.currencySymbol }}{{ .Params.price }}
              </li>
            {{ end }}
            {{ if .Params.childID }}
              {{ $ePubID := .Params.childID | string }}
              {{ $ePubPath := replace "/products/THISID.md" "THISID" $ePubID }}
              {{ with .Site.GetPage $ePubPath }}
                <li class="list-inline-item">
                  <i class="bi-bookmark-star text-primary mr-2"> ePub {{ .Site.Params.currencySymbol }}{{ .Params.price }}</i>
                </li>
              {{ end }}
            {{ end }}
          </ul>
        </article>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <!-- Only show rear cover view if there is one -->
        {{ if .Params.rearCover }}
        <a href="#" data-toggle="modal" data-target="#rearCover">
          <img src="{{ .Params.cover | absURL }}" alt="{{ .Title }}" class="img-fluid rounded mb-4" data-toggle="tooltip" data-placement="right" data-html="true"
          title="<h4 class=''><strong>Rear Cover View</strong></h4><p class='text-secondary'>Click on cover image to view the rear cover.</p>">
        </a>
        {{ else }}
        <img src="{{ .Params.cover | absURL }}" alt="{{ .Title }}" class="img-fluid rounded mb-4">
        {{ end }}
        
        <!-- Only show a PDF preview link if there is one -->
        {{ if .Params.preview }}
        <a href="{{ .Params.preview }}" class="btn btn-outline-primary btn-block" role="button">
          <i class="bi-file-pdf mr-2" style="font-size: 1.5rem;"> Click to View PDF Preview</i>
        </a>
        {{ end }}
      </div>

      <div class="col-lg-8">
        <div id="accordion">
          <div class="mb-3 lead">
            <h3 class="align-self-center text-primary">
              <a href="#collapse1"  data-toggle="collapse">Book Description</a>
            </h3>
            <div id="collapse1" class="collapse show" data-parent="#accordion">
              {{ .Params.Description | markdownify }}
            </div>
          </div>

          {{ if .Content }}
            <div class="mb-3">
              <h3 class="text-primary">
                <a href="#collapse2" data-toggle="collapse">About the Author</a>
              </h3>
              <div id="collapse2" class="collapse lead" data-parent="#accordion">
                {{ .Content }}
              </div>
            </div>
          {{ end }}

          <div class="mb-3">
            <h3 class="text-primary">
              <a href="#collapse3" data-toggle="collapse">Paper (Physical book) Format - {{ .Site.Params.currencySymbol }}{{ .Params.price }}</a>
            </h3>
            <div id="collapse3" class="collapse" data-parent="#accordion">
              <p class="d-none d-sm-block">Use the button below to purchase the Paper version. This will be shipped to you by The Study once your order is processed</p>
              {{ if .Params.childID }}
              <p class="d-none d-sm-block">There is also a digital version (i.e. ePub) available. There is another section below this one. Click on it to access the ePub version of this book.</p>
              {{ end }}
              {{ if .Params.IngramSpark }}
              <p class="d-none d-sm-block">There is an <em>Ingram Spark</em> 'Print on Demand' version of this title available as well. This is probably a better choice for international customers. Use the section below to go to the Reformed Perspective <em>Aerio</em> store to purchase it.</p>
              {{ end }}
              <button class="snipcart-add-item btn btn-outline-primary mb-20" data-item-id="{{ .Params.ProductID }}"
                data-item-name="{{ .Params.Title }}" {{ .Params.cover }} data-item-image="{{ .Params.cover | absURL }}"
                data-item-price="{{ .Params.Price }}" data-item-url="{{ .RelPermalink }}" data-item-description="{{ .Params.Description }}">
                Add Hardcopy to cart
              </button>
            </div>
          </div>
          {{ if .Params.childID }}
            {{ $ePubID := .Params.childID | string }}
            {{ $ePubPath := replace "/products/THISID.md" "THISID" $ePubID }}
            {{ with .Site.GetPage $ePubPath }}
              <div class="mb-3">
                <h3 class="text-primary">
                  <a href="#collapse4" data-toggle="collapse">Digital (ePub) Format - {{ .Site.Params.currencySymbol }}{{ .Params.price }}</a>
                </h3>
                <div id="collapse4" class="collapse" data-parent="#accordion">
                  <p>There is a digital (i.e. ePub) version of this book available. Use the button below to purchase it.</p>
                  <p class="d-none d-sm-block">You should receive your receipt via e-mail along with instructions on how to download the ePub.</p>
                  <button class="snipcart-add-item btn btn-outline-primary" data-item-id="{{ .Params.ProductID }}"
                    data-item-name="{{ .Params.Title }}" {{ .Params.cover }} data-item-image="{{ .Params.cover | absURL }}"
                    data-item-price="{{ .Params.Price }}" data-item-url="{{ .RelPermalink }}" data-item-description="{{ .Params.Description }}"
                    data-item-file-guid="{{ .Params.snipcartUUID }}">
                    Add ePub to cart
                  </button>
                </div>
              </div>
            {{ end }}
          {{ end }}

          {{ if .Params.IngramSpark }}
              <div class="mb-3">
                <h3 class="text-primary">
                  <a href="#collapse4" data-toggle="collapse">Print-on-Demand (Ingram Spark) Book</a>
                </h3>
                <div id="collapse4" class="collapse" data-parent="#accordion">
                  <p class="d-none d-sm-block">Click the button below to go to the Reformed Perspective 'Aerio' page for this book. There you can purchase a 'Print-On-Demand' copy of <em>{{ .Title }}</em> which will be printed and shipped directly to your address.</p>
                  <p class="d-none d-sm-block">Feel free to browse the <a href="https://shop.aer.io/ReformedPerspective">Reformed Perspective Bookstore</a> for other Reformed books as well.</p>
                  <a href="{{ .Params.AerioURL }}" class="btn btn-outline-primary" role="button" target="_blank">
                      <i class="bi-book mr-2" style="font-size: 1.5rem;"> Click to Order From the RP Aer.io Store</i>
                  </a>
                </div>
              </div>
          {{ end }}
        </div>

      </div>
    </div>
  </div>
</section>

{{/*  REAR COVER MODAL  */}}
{{ if .Params.rearCover }}
<div class="modal" id="rearCover">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ .Title }} (Rear Cover)</h5>
        <button class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <img src="{{ .Params.rearCover }}" alt="Rear Cover" class="img-fluid w-100">         
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{{ end }}
{{ end }}