<section class="section-sm">
  <div class="container">
    <div class="row">
      {{ if .Params.banner }}
      <div class="col-12 mb-5">
        <img class="img-fluid" src="{{ .Params.banner_img }}" alt="banner">
      </div>
      {{ end }}
      <div class="col-12">
        <h2 class="text-primary">{{ .Title }}</h2>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent p-0">
            <li class="breadcrumb-item"><a class="text-dark" href="{{ site.BaseURL }}">{{ site.Params.home }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>